<ion-header>
  <ion-navbar>
    <ion-title>
      Training
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="toggleReorder()" *ngIf = "!reorderIsEnabled">
        Edit
      </button>
      <button ion-button (click)="toggleReorder()" *ngIf = "reorderIsEnabled">
        Done
      </button>
      <button ion-button (click)="openTodoAlert()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button (click)="removeTodoAlert()">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)" >
    <ion-item-sliding *ngFor = "let todo of todos; let todoIndex = index">

      <ion-item-options side="right">
        <button ion-button color = "danger" (click)="archiveTodo(todoIndex)">
          <ion-icon name = "trash"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item>{{todo}}</ion-item>

      <ion-item-options side="left">
        <button ion-button color = "green" (click)="updateTodo(todoIndex)">
          <ion-icon name = "create"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-list>
    <ion-item-sliding #item>
      <!-- <ion-item>
        Item
      </ion-item> -->
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="unread(item)">Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
      <button ion-fab (click)="goToArchivePage()">
      <!-- <button ion-fab [navPush]="archivedTodosPage"> -->
        <ion-icon name="archive"></ion-icon>
      </button>
  </ion-fab>
  <button ion-button block (click)="openTodoAlert()">Add</button>
  <button ion-button block (click)="removeTodoAlert()">Remove</button>
  <button ion-button block (click)="doAlert()">Basic Alert</button>
  <button ion-button color="light" block (click)="doConfirm()">Confirm Alert</button>
  <button ion-button color="secondary" block (click)="doPrompt()">Prompt Alert</button>
  <button ion-button color="danger" block (click)="doRadio()">Radio Alert</button>
  <button ion-button color="dark" block (click)="doCheckbox()">Checkbox Alert</button>

</ion-content>
