<ion-header>
  <ion-navbar>
    <ion-title>
      Training
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="toggleReorder()" *ngIf = "!reorderIsEnabled">
        Sort
      </button>
      <button ion-button (click)="toggleReorder()" *ngIf = "reorderIsEnabled">
        Done
      </button>
      <button ion-button (click)="openTodoAlert()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button (click)="removeTodoAlert()">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)" >
    <ion-item-sliding *ngFor = "let todo of todos; let todoIndex = index">

      <ion-item-options side="right">
        <button ion-button color = "danger" (click)="archiveTodo(todoIndex)">
          <ion-icon name = "trash"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item>
        <ion-icon name = "close-circle" outline item-start (click)="skipTraining(todoIndex)"></ion-icon>
        {{todo}}
        <label ion-button outline item-end (click)="showVideo(todoIndex)">Video</label>
        <ion-icon name = "checkmark-circle" outline item-end (click)="doneTraining(todoIndex)"></ion-icon>
      </ion-item>
      <!-- <ion-item>Right</ion-item> -->

      <ion-item-options side="left">
        <button ion-button color = "green" (click)="updateTodo(todoIndex)">
          <ion-icon name = "create"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>


<!--   <ion-list>

    <ion-list-header>
      <button ion-button item-start (click)="buttonClick()">Button</button>
      List Header
      <button ion-button outline item-end (click)="buttonClick()">Outline</button>
    </ion-list-header>
  
    <ion-item *ngFor="let item of items">
      Item {{item}}
    </ion-item>
  
    <button ion-item>
      <ion-icon name="star" item-start></ion-icon>
      Button Item
    </button>
  
    <ion-item>
      <ion-label>
        Item Label
      </ion-label>
      <div item-content>
        Item Content next to the label
      </div>
    </ion-item>
  
    <ion-item>
      <button ion-button item-start (click)="buttonClick()">Button</button>
      Item
      <button ion-button outline item-end (click)="buttonClick()">Outline</button>
    </ion-item>
  
    <ion-item-divider>
      Item Divider
      <button ion-button item-end>Button</button>
    </ion-item-divider>
  
    <button ion-item disabled>
      <button ion-button item-start (click)="buttonClick()">
        <ion-icon name="home"></ion-icon>
        Left Icon
      </button>
      Disabled Button Item
      <button ion-button outline item-end (click)="buttonClick()">
        <ion-icon name="star"></ion-icon>
        Left Icon
      </button>
    </button>
  
    <ion-item>
      <ion-avatar item-start>
        <img src="img/my-avatar.png">
      </ion-avatar>
      Avatar Item
      <button ion-button outline item-end>View</button>
    </ion-item>
  
    <ion-item>
      <h2>Item</h2>
      <p>Item Paragraph</p>
      <ion-thumbnail item-end>
        <img src="img/my-thumbnail.png">
      </ion-thumbnail>
    </ion-item>
  
    <ion-item-sliding>
      <ion-item>
        Item
      </ion-item>
      <ion-item-options>
        <button ion-button color="primary" (click)="archive()">Archive</button>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list> -->
  
  <ion-list>
    <ion-item-sliding #item>
      <!-- <ion-item>
        Item
      </ion-item> -->
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="unread(item)">Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
      <button ion-fab (click)="goToArchivePage()">
      <!-- <button ion-fab [navPush]="archivedTodosPage"> -->
        <ion-icon name="archive"></ion-icon>
      </button>
  </ion-fab>
  <button ion-button block (click)="openTodoAlert()">Add</button>
  <button ion-button block (click)="removeTodoAlert()">Remove</button>
  <button ion-button block (click)="doAlert()">Basic Alert</button>
  <button ion-button color="light" block (click)="doConfirm()">Confirm Alert</button>
  <button ion-button color="secondary" block (click)="doPrompt()">Prompt Alert</button>
  <button ion-button color="danger" block (click)="doRadio()">Radio Alert</button>
  <button ion-button color="dark" block (click)="doCheckbox()">Checkbox Alert</button>

</ion-content>
